<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>500 Something Went Wrong</title>

	<meta name="description" content=""/>
	<meta name="robots" content="index,follow"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

</head>
<body>
	<p>500 Something Went Wrong</p>
</body>
</html>